.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.styleBackgroundHeader {

  background-color: rgb(115, 148, 148);
  width: 40rem;
  height: 20rem;
}

.backgroundStyle {

  background-color: rgb(147, 88, 134);
  height: 900px;
  max-width: 100%;
  margin-bottom: 10px;
}

.cardGroupStyles {

  border: 1px black double;
  background-color: aquamarine;
  max-width: 100rem;
  height: 50rem;
  margin-left: -70px;
  gap: 55px;
  justify-content: center;


}

.cardStyles {

  margin-top: 150px;
  max-height: 400px;
}

.colDD {

  margin-bottom: 10px;
}