.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.styleBackgroundHeader {

  background-color: rgb(115, 148, 148);
  width: 40rem;
  height: 20rem;
}

.backgroundStyle {

  background-color: rgb(147, 88, 134);
  margin-top: 6rem;
  height: 150%;
  width: 100%;
  margin-bottom: 100px;
}

.cardGroupStyles {

  width: 70%;
  height: 70%;
  justify-self: center;
  margin-left: 15%;
  gap: 80px;
}