.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.styleBackgroundHeader {

  background-color: rgb(115, 148, 148);
  width: 40rem;
  height: 20rem;
}

.backgroundStyle {

  background-color: rgb(147, 88, 134);
  height: auto;
  max-width: 100%;
  margin-bottom: 1px;
  padding-bottom: 10px;
  padding-left: 50px;


}

.cardGroupStyles {

  /* border: 1px black double; */
  /* background-color: rgb(90, 95, 93); */
  /* opacity: .1; */
  /* max-width: 100rem;
  height: 50rem;
   */
  margin-left: 35px;
  gap: 85px;
  justify-content: center;

}

.cardStyles {


  margin-left: -30px;
  margin-top: 50px;
  max-height: 400px;
  width: 280px;
  margin-bottom: 15px;

}

.colDD {

  margin-bottom: 10px;
}